/* 购物车 */
.cart-Wrapper {
	padding: 35px 0;
}

/* 空购物车 */
.cart-empty {
	display: none;
	text-align: center;
	padding: 50px 0 140px 0;
	background: url(http://pic.secoo.com/imagesPic/newCartPic/c_11.jpg) no-repeat 150px 50px
}

.cart-empty>.nullText {
	display: inline-block;
	margin-left: 120px;
	padding: 20px;
}

.cart-empty>.nullText>p {
	margin-bottom: 20px;
}

.cart-empty>.nullText>p.no-text {
	font-size: 24px;
	color: #5D5D5D;
}

.cart-empty>.nullText>p.no-btn>a {
	padding: 10px 40px;
	font-weight: bold;
	background-color: #e93b39;
	color: white;
	font-size: 14px;
}

/* 表格局中 */
.cart-Wrapper>div.cart-list-wrapper {
	text-align: center;
	display: none;
	background-color: white;
}

table th,
table tr td {
	padding: 10px 20px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	border: 1px solid white;
}

table.cart-list>thead {
	background-color: rgb(236, 236, 236);
	border-bottom: 1px solid white;
}

table.cart-list>tbody {
	background-color: rgb(253, 240, 239);
}

/* 设置avatar 特效*/
.cart-list>tbody>tr>td.avatar-content {
	overflow: hidden;
}

.cart-list>tbody>tr>td.avatar-content>img {
	transform: scale(1);
	transition: 0.6s ease-in-out;
}

.cart-list>tbody>tr>td.avatar-content:hover>img {
	transform: scale(2);
	cursor: crosshair;
}


.cart-empty.show,
.cart-Wrapper>div.cart-list-wrapper.show {
	display: block;
}

i.checkbox {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-image: url(image/icon_checkbox_uncheck.png);
	background-size: 100% 100%;
	background-position: center center;
}

i.checked {
	background-image: url(image/icon_checkbox_check.png);
	background-position: center center;
}

.delect {
	color: black;
	cursor: pointer;
	padding: 5px;
	font-size: 16px;
}

.delect:hover {
	color: red;
	text-decoration: underline;
}

.avatar {
	/* width: 100px; */
	height: 90px;
}

.countNum {
	font-size: 16px;
}

.countNum>input.addNum,
.countNum>input.lessNum {
	font-size: 18px;
	color: #555;
	cursor: pointer;
	width: 35px;
	padding: 5px 10px;
	background-color: white;
	border: none;
	outline: none;
}

.countNum>input.addNum:hover,
.countNum>input.lessNum:hover {
	background-color: red;
	color: white;
}

.countNum>input.addNum.disabled,
.countNum>input.lessNum.disabled {
	background-color: #ddd;
	color: #555;
}

.countNum>input.addNum.disabled:hover,
.countNum>input.lessNum.disabled:hover {
	background-color: #ddd;
}

.countNum>span {
	padding: 0 5px;
	color: #555;
	font-weight: bold;
}

.cart-list {
	width: 100%;
}

.cart-list>tbody>tr>td {
	height: 150px;
}

.cart-list>tbody>tr>td span.productName {
	width: 300px;
	font-size: 12px;
	display: block;
}

/* 计算 */
.settle-wrapper {
	position: relative;
	padding: 30px 0 20px 0;
	width: 100%;
	text-align: right;
}

.settle-wrapper>,
.account-wrapper {
	color: black;
	font-size: 14px;
}

.settle-wrapper>.account-wrapper>span.account {
	color: red !important;
	font-size: 18px;
	font-weight: bold;
}

.account-symbol {
	font-size: 12px;
}

.settle-wrapper>button.settle {
	padding: 10px 30px;
	outline: none;
	border: none;
	background-color: #ff4d4d;
	font-weight: bold;
	color: white;
	margin-left: 20px;
	cursor: pointer;
	margin-right: 30px;
	/* box-shadow: inset 2px 2px 5px 0 ghostwhite; */
}

.settle-wrapper>button.settle:hover {
	background-color: #ff0000;
}

/* 继续购物 */
.go-on-by {
	position: absolute;
	left: 30px;
	bottom: 20px;
}

.go-on-by>a {
	padding: 5px 15px;
	color: #e93b39;
	border: 1px solid #e93b39;

}

.go-on-by>a:hover {
	color: #d32220;
	border: 1px solid #d32220;
}

/* 猜你喜欢 */
/* 标题 */
.guess-you-like {
	background-color: white;
	display: none;
}
.guess-you-like.show{
	display: block;
}
h3.ch3 {
	height: 38px;
	background-color: #ececec;
	line-height: 38px;
	text-indent: 24px;
	font-weight: bold;
	color: #666;
	font-size: 12px;
}

/* 点击轮播 */
.you-like-list-content{
	/* 左右箭头 */
	position: relative;
	padding: 30px 35px;
}
/* 左右箭头 */
img.to-left,img.to-right{
	display: none;
	cursor: pointer;
	width: 35;
	height: 35px;
	position: absolute;
	z-index: 5;
	top: 50%;
	transform: translateY(-50%);
}
img.to-left.show,img.to-right.show{
	display: block;
}
img.to-left{
	left: 20px;
}
img.to-right{
	right: 20px;
}
.you-like-list{
	overflow: hidden;
}
.list-data{
	white-space: nowrap;
	font-size: 0;
	transform: translateX(0);
	transition: all 0.6s ease-in-out;
}
.list-data>li {
	display: inline-block;
	width: calc(100% / 5);
	box-sizing: border-box;
	padding: 10px 35px;
	
}

.list-data>li>div.epic>a {
	display: block;
	border: 1px solid #ccc;
}

.list-data>li>div.epic>a>img {
	width: 100%;
}

.list-data>li>p.ename>a,
.list-data>li>p.eprice {
	color: #666;
}

.list-data>li>p.ename>a {
	padding: 5px 0 5px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}

.list-data>li>p.eprice {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
